.h2Text{
  padding: 20px;
  font-family: ProximaNova-Light;
  margin: auto;
  text-align: center;
  font-weight: 100;
  color: #4a4a4a;
  width: 100%;
}
#cchButton{
  color: #6bad44;
  border: 2px solid #6bad44;
}

.productLogo{
padding-top: 15px;
padding-bottom: 15px;
}

.headerText{
  font-family: ProximaNova-Light;
  color: #4a4a4a;
  font-weight: 100;
}
.button{
  background: #FFFFFF;
  border: 2px solid #429CCB;
  color: #429CCB;
  font-family: ProximaNova-Regular;
  transition: all 0.3s ease 0s;
  border-radius: 6px;
}


/* Small devices */
  @media only screen and (min-width : 320px) and (max-width : 992px) {
    #cchButton:active{
      background: #6bad44;
      color:#FFFFFF;
    }
    /* horizontal divider between products */
    #cchGrp{
      border-bottom: 1px solid #A3A3A3;
    }

    #mpGrp{
      margin-top: 8%;
    }

    .headerText{
      font-size: 4em;
      text-align: center;
      padding-top: 15%;
      padding-bottom: 50px;
      line-height: 80px;
    }
    .h2Text{
      padding-top: 20px;
      font-size: 2.5em;
    }

    .graphs{
      margin: 0 !important;
      padding: 0 !important;
      z-index: -1;
      position: fixed;
      bottom: 0;
    }
    .button{
      margin-left: 25%;
      width: 50%;
      margin-top: 40px;
      margin-bottom: 80px;
      padding: 12px 12px;
      font-size: 2em;
      /*border-radius: 6px;
      background: #FFFFFF;
      font-family: ProximaNova-Regular;
      border: 2px solid #429CCB;
      color: #429CCB;
      transition: all 0.3s ease 0s;*/
    }
    .button:active{
      background: #3cb0fd;
      color:#FFFFFF;
    }

    /*.graphContainer{
      position: relative;
    }
    #topGraph{
      position: absolute;
      bottom: -300px;
    }
    #middleGraph{
      position: absolute;
      bottom: -300px;
    }
    #bottomGraph{
      position: absolute;
      bottom: -300px;
    }*/
  }

  /* Medium Devices, Desktops */
  @media only screen and (min-width : 992px) and (max-width : 1200px)   {
    .productLogo{
      width: 100%;
    }
  }

/* Medium devices (desktops, 992px and up) */
@media only screen and (min-width: 992px) {
.headerText{
  font-size: 3em;
  padding-top: 50px;
  padding-bottom: 50px;
  line-height: 60px;
}

.h2Text{
  font-size: 1.5em;
}

.graphs{
  margin: 0 !important;
  padding: 0 !important;
  z-index: -1;
  position: absolute;
  bottom: -100px;
  /*height: 10%;*/
}
.button{
  /*background: #FFFFFF;
  border: 2px solid #429CCB;
  color: #429CCB;
  font-family: ProximaNova-Regular;
  transition: all 0.3s ease 0s;
  border-radius: 6px;*/
  margin-left: 25%;
  width: 50%;
  margin-top: 20px;
  margin-bottom: 80px;
  padding: 4px 12px;
  font-size: 1em;
}
.button:hover{
  background: #3cb0fd;
  color:#FFFFFF;
}
#cchButton:hover{
  background: #6bad44;
  color:#FFFFFF;
}
/*
#topGraph{
  position: absolute;
  bottom: -300px;
}
#middleGraph{
  position: absolute;
  bottom: -300px;
}
#bottomGraph{
  position: absolute;
  bottom: -300px;
}*/
}
